  <div class="before">
    <em>2007</em><br/>
    <%= CDNM.utils.number_with_delimiter(Math.floor(energy_2007)) %>kW
  </div>
  <div class="after">
    <em>2008</em><br/>
    <%= CDNM.utils.number_with_delimiter(Math.floor(energy_2008)) %>kW
  </div>
  <div class="CB"></div>
