<div class="navbar navber-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Seoul A-Z Project', root_path, :class => 'brand' %>
        <ul class="nav">
          <li class="active">
            <%= link_to 'articles', admin_articles_path %>
          </li>
        </ul>

    </div>
  </div>
</div>