<div id="footer">
    <div class="sub_menu">
      <div class="wrapper">
          <ul class="footer_list">
            <li>
              Seoul A-Z Project
            </li>
            <li>
              FAQ
            </li>
            <li>
              Redistributed API
            </li>
          </ul>
      </div>
    </div>
    <div class="ccl_codenamu">
      <div class="wrapper">

        <div class="ccl">
          이 저작물은 특별한 제한을 두지 않는 한, <br/>
          크리에이티브 커먼즈 저작자표시(Attribution) 3.0 Unported 라이선스에 따라 이용할 수 있습니다.
        </div>
        <div class="codenamu_logo">
          <%= image_tag 'project_by_codenamu.png' %>
        </div>
      </div>
      <div class="CB"></div>
    </div>
</div>